<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbhost" value="154.12.16.147"/>
    <add key="dbport" value="4363"/>
    <add key ="dbuser" value="postgres"/>
    <add key ="dbpasswd" value="7K3E65js62Ph"/>
    <add key ="begin_date" value ="2024/01/20"/>
  </appSettings>
</configuration>
